<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReadWebsocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C8EB58F1E88FA5E000DF4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8EB5A81E88FA5E000DF4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8EB5B31E88FA5E000DF4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
